.blockquote {
  --bq-border-w: var(--border-width-2);
  --bq-border-s: solid;
  --bq-color: hsl(from var(--color-label) h s calc(l + var(--adjust-color)));

  margin: 0;
  padding-left: var(--space-m);
  color: var(--bq-color);
  border-left: var(--bq-border-w) var(--bq-border-s) var(--bq-color);

  &:not(:last-child) {
    margin-bottom: var(--space-m);
  }
}
