@use "../../base";
@use "../../colors";
@use "../../functions" as fn;

.button {
  --button-h: 18px;
  --button-bg: var(--color-primary);
  --button-fg: var(--text-fixed-white);
  --button-disabled-bg: var(
    --undefined
  ); // Allow downstreams to override disabled color
  --button-disabled-opacity: 0.5;
  --button-border-radius: var(--border-radius-2);
  --button-transition-duration: var(--transition-time-fast);
  --button-transition-property: background-color, color, opacity;
  --button-transition-timing-function: ease-out;

  cursor: var(--cursor-pointer);
  user-select: none;
  box-sizing: border-box; // Include padding in size calculations
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: var(--space-m);
  padding: var(--space-xs) var(--space-m);
  margin: 0 var(--space-xs) var(--space-xs) 0;
  background-color: fn.oklch-from(button-bg, $l: -0.025);
  color: var(--button-fg);
  border-radius: var(--button-border-radius);
  transition-duration: var(--button-transition-duration);
  transition-property: var(--button-transition-property);
  transition-timing-function: var(--button-transition-timing-function);
  text-shadow: 0 0 0; // Make text more contrast

  &:hover:not(.disabled) {
    background-color: fn.oklch-from(button-bg, $l: 0.1);
  }

  &:active:not(.disabled) {
    background-color: fn.oklch-from(button-bg, $l: 0.025);
    transition-duration: 0s;
  }

  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-height: var(--button-h);
  }
}

// MARK: States
.button {
  &.disabled {
    --button-bg: var(--button-disabled-bg var(--button-bg));

    cursor: var(--cursor-disabled) !important;
    opacity: var(--button-disabled-opacity);
  }

  &.selected {
    --button-bg: var(--color-good);
  }

  &.circular {
    aspect-ratio: 1 / 1;
    white-space: normal;
    text-align: center;
    border-radius: var(--border-radius-6);
  }

  &.fluid {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

// MARK: Colors
.button {
  @each $color-name, $color-value in colors.$color-map {
    &.#{$color-name} {
      --button-bg: oklch(from #{$color-value} calc(l - 0.033) c h);

      @each $color in colors.$low-contrast-color-map {
        @if $color-name == $color {
          --button-fg: var(--text-fixed-black);
        }
      }
    }
  }

  &.transparent {
    --button-bg: transparent;
    --button-fg: var(--text-translucent);

    &:hover {
      --button-bg: #{fn.oklch-from(button-fg, $a: 0.1)};
      --button-fg: var(--text-default);
    }

    &:active {
      opacity: 0.75;
    }

    &.selected {
      --button-fg: #{fn.oklch-from(color-good, $l: 0.1, $c: 0.1)};
    }

    &.disabled {
      --button-bg: #{fn.oklch-from(color-bad, $c: 0.1, $a: 0.2)};
      --button-fg: #{fn.oklch-from(color-bad, $l: 0.1)};

      opacity: 1;
    }
  }
}
