/**
 * File contains sass function that creates classes for each available color
 */
@use "../colors.scss";
@use "../functions.scss" as fn;

$map-keys: colors.$color-map !default;

// Foreground colors
@each $color-name, $color-value in $map-keys {
  .color-#{$color-name} {
    color: fn.fg($color-value) !important;
  }
}

// Background colors
@each $color-name, $color-value in $map-keys {
  .color-bg-#{$color-name} {
    background-color: fn.bg($color-value) !important;
  }
}

// Foreground colors but css variable. Used for component styling
// Created for standartization and less repeated code
@each $color-name, $color-value in colors.$color-map {
  .fg-#{$color-name} {
    --fg-color: #{fn.fg($color-value)};
  }
}

// Same as previous but for background
@each $color-name, $color-value in colors.$color-map {
  .bg-#{$color-name} {
    --bg-color: #{fn.bg($color-value)};
  }
}
