/**
 * TGUI
 * Base variables
 *
 * This file contains all values, like spacings, sizes, etc.
 * You won't find any colors here, just numbers and letters.
 *
 * Made with love by Aylong (https://github.com/AyIong)
 */

@use "functions" as fn;

:root {
  // MARK: Fonts
  --font-size-unit: 12;
  --font-family: Inter, sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;
  --line-height: 16px;

  // MARK: Border width
  --border-width-unit: #{fn.rem(1px)};
  /* 1px */
  --border-width-1: var(--border-width-unit);
  /* 2px */
  --border-width-2: calc(var(--border-width-unit) * 2);
  /* 3px */
  --border-width-3: calc(var(--border-width-unit) * 3);
  /* 4px */
  --border-width-4: calc(var(--border-width-unit) * 4);
  /* 6px */
  --border-width-5: calc(var(--border-width-unit) * 6);

  // MARK: Border radius
  --border-radius-unit: #{fn.rem(2px)};
  /* 2px */
  --border-radius-1: var(--border-radius-unit);
  /* 4px */
  --border-radius-2: calc(var(--border-radius-unit) * 2);
  /* 6px */
  --border-radius-3: calc(var(--border-radius-unit) * 3);
  /* 12px */
  --border-radius-4: calc(var(--border-radius-unit) * 6);
  /* 24px */
  --border-radius-5: calc(var(--border-radius-unit) * 12);
  /* Maximum border radius. Makes perfect circles */
  --border-radius-c: 99999px;

  // MARK: Spacing
  --space-unit: #{fn.rem(1px)};
  /* 1px */
  --space-xxs: var(--space-unit);
  /* 2px */
  --space-xs: calc(var(--space-unit) * 2);
  /* 3px */
  --space-s: calc(var(--space-unit) * 3);
  /* 4px */
  --space-sm: calc(var(--space-unit) * 4);
  /* 6px */
  --space-m: calc(var(--space-unit) * 6);
  /* 9px */
  --space-ml: calc(var(--space-unit) * 9);
  /* 12px */
  --space-l: calc(var(--space-unit) * 12);
  /* 15px */
  --space-xl: calc(var(--space-unit) * 15);
  /* 21px */
  --space-xxl: calc(var(--space-unit) * 21);

  // MARK: Sizes
  --base-height: #{fn.rem(20px)};

  // MARK: Transition times
  --transition-time-unit: 1s;
  /* 0.1s | 100ms */
  --transition-time-fast: calc(var(--transition-time-unit) * 0.1);
  /* 0.2s | 200ms */
  --transition-time-medium: calc(var(--transition-time-unit) * 0.2);
  /* 0.5s | 500ms */
  --transition-time-slow: calc(var(--transition-time-unit) * 0.5);
  /* 1s | 1000ms */
  --transition-time-slowest: var(--transition-time-unit);

  // MARK: Shadows
  --shadow-small: 0 #{fn.rem(2px)} #{fn.rem(2px)} #{fn.rem(-1px)};
  --shadow-medium: 0 #{fn.rem(3px)} #{fn.rem(3px)} #{fn.rem(-1px)};
  --shadow-large: 0 #{fn.rem(3px)} #{fn.rem(3px)} 0;

  // MARK: Blur
  --blur-small: blur(3px);
  --blur-medium: blur(6px);
  --blur-large: blur(12px);

  // MARK: Color adjustment
  /* Color lightness multiplier. + for FG - for BG */
  --adjust-color: 0.075;
  /* Color lightness multiplier when hovered */
  --adjust-hover: 0.1;
  /* Color lightness multiplier when active (clicked) */
  --adjust-active: 0.05;

  // MARK: Opacity
  --opacity-disabled: 0.75;

  /* Cursors */
  --cursor-default: default;
  --cursor-pointer: pointer;
  --cursor-grab: grab;
  --cursor-text: text;
  --cursor-disabled: var(--cursor-default);
  --cursor-n-resize: n-resize;
  --cursor-s-resize: s-resize;
  --cursor-se-resize: se-resize;
  --cursor-e-resize: e-resize;
}
