/**
 * TGUI
 * Main Colors
 *
 * This file contains all the main colors that are
 * used elsewhere and are mixed/modified to
 * suit the needs of the components/ui's.
 *
 * The main goal is to standardize colors.
 * When adding new raw colors, you should add them here.
 *
 * Overwriting these variables will have an extreme impact
 * on the global appearance of the entire TGUI.
 */

@use "sass:color";
@use "sass:map";
@use "sass:meta";

@use "functions" as fn;

:root {
  /* Accent colors: Base colors used by default almost everywhere */
  --primary-l: 0.52;
  --primary-c: 0.125;
  --primary-h: 265;
  --primary-color: oklch(var(--primary-l) var(--primary-c) var(--primary-h));

  --secondary-l: 0.57;
  --secondary-c: 0.175;
  --secondary-h: var(--primary-h);
  --secondary-color: oklch(
    var(--secondary-l) var(--secondary-c) var(--secondary-h)
  );

  /* Background colors */
  --background-l: 0.233;
  --background-c: 0.005;
  --background-h: var(--primary-h);
  --background-color: oklch(
    var(--background-l) var(--background-c) var(--background-h)
  );

  --surface-l-adjust: 0.06;
  --surface-c-adjust: 0.01;
  --surface-l: calc(var(--background-l) + var(--surface-l-adjust));
  --surface-c: calc(var(--background-c) + var(--surface-c-adjust));
  --surface-h: var(--background-h);
  --surface-color: oklch(
    var(--surface-l) calc(var(--surface-c) + 0.005) var(--surface-h)
  );

  /* Text colors */
  --text-color: oklch(0.925 0.015 var(--primary-h));
  --text-color-translucent: oklch(from var(--text-color) l c h / 0.5);
  --text-color-translucent-light: oklch(from var(--text-color) l c h / 0.75);

  /* Link colors */
  --color-hyperlink: hsl(220, 100%, 70%);
  --color-hyperlink-visited: hsl(260, 100%, 70%);
  --color-hyperlink-new: hsl(0, 100%, 70%);
  --color-hyperlink-new-visited: hsl(15, 100%, 70%);

  /* Semantic colors: Indicates state */
  --color-good: oklch(0.62 0.15 135);
  --color-average: oklch(0.72 0.175 47);
  --color-bad: oklch(0.595 0.2 25);
  --color-label: oklch(from var(--primary-color) 0.55 0.05 h);
  --candystripe-odd: oklch(0 0 0 / 0.25);
  --candystripe-even: transparent;

  /* Stable colors: Try to not change they hue at least */
  --color-red: oklch(0.645 0.25 30);
  --color-orange: oklch(0.82 0.17 73);
  --color-yellow: oklch(0.92 0.18 100);
  --color-olive: oklch(0.77 0.15 120);
  --color-green: oklch(0.62 0.16 150);
  --color-teal: oklch(0.62 0.1 185);
  --color-blue: oklch(0.52 0.225 265);
  --color-violet: oklch(0.57 0.225 290);
  --color-purple: oklch(0.595 0.25 305);
  --color-pink: oklch(0.745 0.15 10);
  --color-brown: oklch(0.62 0.1 55);
  --color-gold: oklch(0.845 0.1675 90);

  /* Neutral colors: Almost without saturacy */
  --color-neutral: oklch(0.5 0 0);
  --color-neutral-lighter: oklch(0.666 0 0);

  /* Border */
  --border-color: var(--surface-color);
  --border-color-dark: oklch(0 0 0 / 0.25);

  // Maybe should be removed
  --border-primary-saturation: 100;
  --border-primary-lightness: 75;
  --border-primary-alpha: 0.75;
  --border-color-primary: hsl(
    from var(--color-primary) h var(--border-primary-saturation)
      var(--border-primary-lightness) / var(--border-primary-alpha)
  );
  --border-color-secondary: hsl(from var(--border-color-primary) h s l / 1);

  /* Shadow */
  --shadow-color: oklch(0 0 0 / 0.5);
}

// Mappings of color names
$color-map: ();
$base-colors: (
  "red": var(--color-red),
  "orange": var(--color-orange),
  "yellow": var(--color-yellow),
  "olive": var(--color-olive),
  "green": var(--color-green),
  "teal": var(--color-teal),
  "blue": var(--color-blue),
  "violet": var(--color-violet),
  "purple": var(--color-purple),
  "pink": var(--color-pink),
  "brown": var(--color-brown),
  "gold": var(--color-gold),
);

$grayscale-colors: (
  "black": black,
  "white": white,
  "grey": var(--color-neutral),
  "gray": var(--color-neutral),
  "light-grey": var(--color-neutral-lighter),
  "light-gray": var(--color-neutral-lighter),
);

$semantic-colors: (
  "primary": var(--primary-color),
  "secondary": var(--secondary-color),
  "surface": fn.oklch-from(surface-color, $l: 0.085),
  "background": var(--background-color),
  "good": var(--color-good),
  "average": var(--color-average),
  "bad": var(--color-bad),
  "label": var(--color-label),
);

$maps: ($base-colors, $grayscale-colors, $semantic-colors);
$_gen_map: ();
@each $map in $maps {
  $_gen_map: map.merge($_gen_map, $map);
}

// Color names for which to generate a color map
$color-map-keys: map.keys($_gen_map) !default;
@each $color-name in $color-map-keys {
  $color-map: map.merge(
    $color-map,
    (
      $color-name: map.get($_gen_map, $color-name),
    )
  );
}
